/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 /* estilos responsive de pantalla pequeña a partir de 519px */
/**************************************
GENERAL
***************************************/
body {
    max-width: none !important;
    min-width: 320px !important;
}
/*************************************
ESPECIFICOS
*************************************/
#page-title {
    font-size: 27px;
    line-height: 25px;
    margin: 25px 0 10px;
}
#section-header {
    background-position: center -100px;
    height: auto;
}
#zone-content-wrapper {
    width: 100%;
}
#zone-content {
    padding: 0 0% 80px;
    width: 100%;
}

#section-footer {
    margin-top: -58px;
}
#region-content .region-inner {
    padding: 0 20px;
}
.region-sidebar-first .block h2.block-title {
    display: block;
    margin: 0;
    padding: 7px 0;
    width: 100%;
}
.region-sidebar-first .block .view {
    margin: 0;
}
/*************************************
Tamanios de regiones de paginas
*************************************/
.context-blog #region-sidebar-first, 
.node-type-galeria #region-sidebar-first{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.context-blog #region-content, 
.node-type-galeria #region-content{
    width: 100%;
}
#region-sidebar-first .region-inner {
    padding: 10px 20px;
}
/*************************************
MENU
*************************************/
#block-nice-menus-1 {
    background-position: center top;
    background-repeat: repeat-x;
    height: auto;
    margin: 14px 0 -3px;
}
#block-nice-menus-1 .block-inner {
    background-color: #6FAFFA;
    margin-top: 10px;
    width: 100%;
}
ul.nice-menu li {
    border-bottom: 1px solid #84C4FF;
    margin: 5px 0;
    padding-bottom: 7px;
    padding-top: 3px;
    width: 100%;
}
ul.nice-menu li a {
    display: inline;
    float: none;
}
#nice-menu-1 {
    border-bottom: medium none;
    float: left;
    margin: -5px 0 -6px;
}
/*************************************
FRONT
*************************************/
#block-views-view-block-enlaces-block .views-row .views-field-title a{
    font-size: 20px;
}
#block-block-3 img {
    height: auto !important;
    width: 290px !important;
}
#block-views-view-front-banner-block, #block-views-view-banner-nosotros-block, #block-views-view-banner-servicios-block, #block-views-view-banner-contacto-block {
    height: 200px;
    margin: 0;
    width: 100%;
}
#block-views-view-front-banner-block img, #block-views-view-banner-nosotros-block img, #block-views-view-banner-servicios-block img, #block-views-view-banner-contacto-block img {
    height: 200px !important;
    width: auto !important;
}
.views-slideshow-cycle-main-frame {
    position: static !important;
}
#block-views-view-front-banner-block .views-slideshow-controls-bottom {
    bottom: auto;
    left: auto;
    right: 10px;
    top: 10px;
}
#block-views-view-block-enlaces-block .views-row {
    height: auto;
    margin: 16px 2%;
    width: 46%;
}
#block-views-view-block-terapia-block {
    border-radius: 10px;
    margin: 15px 3%;
    width: 96%;
}
#block-views-view-block-terapia-block img {
    float: left;
    height: 170px;
    width: auto;
}
#block-views-view-block-terapia-block .views-field-title a {
    bottom: 105px;
    font-size: 22px;
    padding: 4px 10px;
}
#block-views-view-front-videos-block .views-row img {
    float: left;
    height: auto;
    width: 100%;
}
#block-views-view-front-videos-block .views-row {
    margin: 15px 0;
    width: 100%;
}
#block-views-view-block-enlaces-block .views-row .views-field-field-imagen img {
    height: auto;
    max-width: 188px;
    width: 100%;
}
/*************************************
FOOTER
*************************************/
#block-block-5 img {
    height: auto !important;
    left: 0 !important;
    margin-left: -290px;
    position: relative;
    width: 1300px !important;
}
#block-block-5 {
    height: 103px;
    overflow: hidden;
    top: -100px;
    width: 100%;
}
#block-block-2 .block-inner {
    padding: 0 20px;
    width: auto;
}
#block-views-view-front-videos-block {
    float: left;
    margin: 0 3%;
    width: 94%;
}

/*************************************
SECCIONES
*************************************/
/*******Nosotros******/
.page-nosotros .block-system-main,
.page-servicios .block-system-main{
    display: none;
}
#block-views-970a4211010fcf0e956d71c1f15d089f,
#block-views-view-block-servicios-block-1{
    float: left;
    width: 100%;
}
#block-views-970a4211010fcf0e956d71c1f15d089f h2,
#block-views-view-block-servicios-block-1 h2{
    display: none;
}
.ui-accordion-content .views-field-field-imagen img {
    height: auto;
    width: 100%;
}
.ui-accordion-content .views-field-field-imagen {
    float: left;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.ui-accordion .ui-accordion-header {
    border-color: lightgray;
}
.ui-accordion .ui-accordion-header .ui-icon {
    left: auto;
    right: 10px;
}
.ui-accordion .ui-accordion-header.ui-state-default a {
    background: url("../images/bgmenu.jpg") repeat scroll 0 0 transparent;
    color: white;
    font-family: berlin sans;
    font-size: 26px;
    padding: 8px 1.5em;
}
.ui-accordion .ui-accordion-header.ui-state-active a, 
.ui-accordion .ui-accordion-header.ui-state-active.ui-state-default a:hover {
    background: none repeat scroll 0 0 #DA61C1;
    color: white;
    font-family: berlin sans;
    font-size: 26px;
    padding: 8px 1.5em;
}
.ui-accordion .ui-accordion-content {
    border-color: transparent;
    padding: 15px 0;
}
.ui-accordion .ui-accordion-header.ui-state-default a:hover {
    background: none repeat scroll 0 0 lightgray;
    color: #DA61C1;
}
.ui-widget-content {
    color: #555555;
    font-family: helvetica;
    font-size: 13px;
    line-height: 17px;
    text-align: justify;
}

#block-views-view-block-servicios-block-1 .ui-accordion .ui-accordion-header.ui-state-active a {
    padding: 0;
}
.ui-accordion .ui-accordion-header a .enc .nivel{
    background: url("../images/n1.png") no-repeat scroll center center transparent;
    border-radius: 45px;
    color: transparent;
    font-size: 0;
    height: 22px;
    line-height: 15px;
    padding: 10px 5px;
    position: absolute;
    right: 30px;
    text-align: center;
    top: 3px;
    width: 30px;
}
.ui-accordion .ui-accordion-header a .enc2 .nivel {
    background-image: url("../images/n2.png");
}
.ui-accordion .ui-accordion-header a .enc3 .nivel {
    background-image: url("../images/n3.png");
}
.ui-accordion .ui-accordion-header a .enc4 .nivel {
    background-image: url("../images/n4.png");
}
.ui-accordion .ui-accordion-header a .enc5 .nivel {
    background-image: url("../images/n5.png");
}
.ui-accordion .ui-accordion-header a .enc6 .nivel {
    background-image: url("../images/n6.png");
}
.ui-accordion .ui-accordion-header.ui-state-default a .enc .tit {
    padding-right: 45px;
}
.ui-accordion .ui-accordion-header.ui-state-default a .enc .nivel .niv {
    display: none;
    font-size: 17px;
}
.ui-accordion .ui-accordion-header.ui-state-active a .enc .nivel, .ui-accordion .ui-accordion-header.ui-state-default a:hover .enc .nivel {
    color: #DA61C1;
}
#block-views-view-block-servicios-block-1 .views-field-title {
    display: none;
}
#block-views-view-block-servicios-block-1 .views-field-field-titulo2 {
    color: #05A4FD;
    float: left;
    font-family: berlin sans;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.ui-accordion .ui-accordion-header.ui-state-active a .enc1, 
.ui-accordion .ui-accordion-header.ui-state-active.ui-state-default a:hover .enc1{
    background: none repeat scroll 0 0 #88C3FE;
    padding: 8px 1.5em;
}
.ui-accordion .ui-accordion-header.ui-state-active a .enc2, 
.ui-accordion .ui-accordion-header.ui-state-active.ui-state-default a:hover .enc2{
    background: none repeat scroll 0 0 #82C486;
    padding: 8px 1.5em;
}
.ui-accordion .ui-accordion-header.ui-state-active a .enc3, 
.ui-accordion .ui-accordion-header.ui-state-active.ui-state-default a:hover .enc3{
    background: none repeat scroll 0 0 #F0B35A;
    padding: 8px 1.5em;
}
.ui-accordion .ui-accordion-header.ui-state-active a .enc4, 
.ui-accordion .ui-accordion-header.ui-state-active.ui-state-default a:hover .enc4{
    background: none repeat scroll 0 0 #D64BC2;
    padding: 8px 1.5em;
}
.ui-accordion .ui-accordion-header.ui-state-active a .enc5, 
.ui-accordion .ui-accordion-header.ui-state-active.ui-state-default a:hover .enc5{
    background: none repeat scroll 0 0 #D34E4F;
    padding: 8px 1.5em;
}
.ui-accordion .ui-accordion-header.ui-state-active a .enc6, 
.ui-accordion .ui-accordion-header.ui-state-active.ui-state-default a:hover .enc6{
    background: none repeat scroll 0 0 #E5A2CD;
    padding: 8px 1.5em;
}
.ui-accordion .ui-accordion-header.ui-state-active a .enc7, 
.ui-accordion .ui-accordion-header.ui-state-active.ui-state-default a:hover .enc7{
    background: none repeat scroll 0 0 #A550A3;
    padding: 8px 1.5em;
}
#block-views-view-block-servicios-block-1 .views-field-php .views-label {
    color: #05A4FD;
    display: block;
    float: left;
    font-family: berlin sans;
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 10px;
    width: 100%;
}
.view-view-block-testimonios .views-row 
{
    border: 2px solid #05A4FD;
    border-radius: 10px;
    color: #05A4FD;
    float: left;
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 15px;
    padding: 10px 2% 40px;
    position: relative;
    text-align: left !important;
    width: 94%;
}
.view-view-block-testimonios .views-row .views-field-field-imagen {
    border-radius: 5px;
    display: block;
    float: right;
    margin: 0 auto 5px 15px;
    max-height: 140px;
    overflow: hidden;
    position: relative;
    width: 45%;
}
#block-views-view-block-servicios-block-1 .view-view-block-testimonios .views-row .views-field-title {
    display: block;
}
#block-views-view-block-servicios-block-1 .view-view-block-testimonios .views-row .views-field-title a {
    color: #3E9AEF;
    display: block;
    font-family: berlin sans;
    font-size: 15px;
    margin-bottom: 5px;
}
#block-views-view-block-servicios-block-1 .views-field-field-edad {
    display: block;
    float: left;
    font-family: berlin sans;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.view-view-page-testimonios .views-row .views-field-field-imagen, .view-taxonomy-term .views-row .views-field-field-imagen {
    max-height: 180px;
}
/*******Blog******/
.view-view-page-blog .views-row {
    padding-bottom: 35px;
}
.view-view-page-blog .views-row .views-field-field-imagen {
    margin-left: 0;
    width: 100%;
}
.view-view-page-blog .views-row .views-field-field-imagen img {
    height: auto;
    width: 100%;
}
.node-blog .field-name-field-imagen {
    margin-left: 0;
    width: 100%;
}
.field-slideshow-carousel {
    float: left;
    margin: 5px 0;
    width: 100%;
}
.field-slideshow-carousel li {
    margin: 0px 1% 5px !important;
    width: 48% !important;
}
.field-slideshow-carousel li img {
    height: auto;
    width: 100%;
}
.region-content ul.field-slideshow-pager {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    width: 100% !important;
}
.field-slideshow {
    border-radius: 20px;
    max-width: 100% !important;
    overflow: hidden;
    padding: 0 !important;
    width: 100% !important;
}
.field-slideshow-carousel-wrapper .item-list {
    float: left;
    margin: 0;
    width: 100%;
}
/*******Testimonios******/
#block-views-view-menu-testimonios-block .views-row {
    background: url("../images/bgtestimonios.jpg") repeat scroll 0 0 transparent;
    float: left;
    width: 100%;
}

#block-views-view-menu-testimonios-block .view-view-menu-testimonios .view-content {
    padding: 0;
}
.view-view-page-testimonios .views-row, .view-taxonomy-term .views-row {
    height: auto;
    margin: 15px 0;
    padding-bottom: 35px;
    width: 100%;
}
.view-view-page-testimonios .views-row .views-field-field-imagen img,
.view-taxonomy-term .views-row .views-field-field-imagen img{
    height: auto;
    width: 100%;
}
.view-view-page-testimonios,
.view-taxonomy-term{
    padding: 0 20px;
}
#block-views-view-menu-testimonios-block .views-row-last .views-field-name {
    border-right: medium none;
}
.node-testimonios img {
    height: auto;
    width: 100%;
}
/*******Galeria******/
.view-view-page-galeria .views-row {
    margin: 15px 8%;
    width: 84%;
}
.view-view-page-galeria .views-row img {
    height: auto;
    margin: 0;
    width: 98%;
}
.view-view-page-galeria .views-row .views-field-field-imagen-1{
    bottom: 36%;
    right: -4%;
    width: 39%;
}
.view-view-page-galeria .views-row .views-field-field-imagen-2{
    bottom: 15px;
    right: -2%;
    width: 39%;
}
.node-galeria .item-list ul li {
    margin: 5px 2%;
    width: 46%;
}
.node-type-galeria .block-system-main .block-inner .content, .node-type-galeria .block-system-main .block-inner {
    width: 100%;
}
.node-galeria {
    width: 100%;
}
/*******Contacto******/
#block-block-1 iframe {
    height: 350px;
    width: 100%;
}
.context-contacto #block-system-main {
    float: left;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 9;
}
#block-block-4 {
    margin: 0;
    width: 100%;
}
#block-block-7 {
    width: 60%;
}
.node-webform {
    margin: 0;
    width: 100%;
}
#block-block-1 iframe {
    height: 200px;
    width: 100%;
}
#block-block-1 .block-inner, #block-block-1 .content {
    width: 100%;
}
/*******Videos******/
.view-view-page-videos .views-row {
    margin: 15px 0;
    min-height: 0;
    width: 100%;
}
.view-view-page-videos .views-row img {
    height: auto;
    width: 100%;
}

/*******Bolsa de Trabajo******/
#node-webform-73 {
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 9;
}
#block-block-6 {
    top: 350px;
}
.page-node-73 .block-inner, .page-node-73 .block-inner .content {
    width: 100%;
}
#node-webform-73 #edit-submitted-curriculum-pdf-word input {
    float: left;
    font-size: 11px;
    margin-bottom: 14px;
    position: relative;
    width: 100%;
}
#node-webform-73 #edit-submitted-curriculum-pdf-word input#edit-submitted-curriculum-pdf-word-upload-button {
    display: none;
}


/******************Paginas********/
.node-pagina .field-name-field-imagen {
    border: medium none;
    margin: 0 0 20px;
    width: 100%;
}
#node-pagina-47 .field-name-body img {
    height: auto !important;
    width: 100% !important;
}
.view-view-page-talleres .views-row, .view-view-page-terapias .views-row {
    margin: 15px 0;
    width: 100%;
}
.view-view-page-terapias .views-field-field-imagen, .view-view-page-talleres .views-field-field-imagen {
    width: 95%;
}
.view-view-page-terapias .views-field-body .field-content, .view-view-page-talleres .views-field-body .field-content {
    height: auto;
}
.view-view-page-terapias .views-field-title, .view-view-page-talleres .views-field-title {
    height: 57px;
}
#block-block-8 .talleres li {
    height: auto;
    margin-bottom: 0;
    width: 97%;
}
#block-views-view-block-servicios-block-1 .block-inner, #block-views-view-block-servicios-block-1 .block-inner .content {
    float: left;
    width: 100%;
}
/* servicios grid */
.page-especialidades #block-system-main .view-content .views-row{
    flex-basis: 100%;
}
/* end servicios grid */
#block-views-view-front-videos-block .views-row .views-field-field-video {
    display: none;
}
.view-view-page-videos .views-row .views-field-field-video {
    display: none;
}
#section-footer {
    margin-top: -46px;
}
.item-list ul.pager li {
    font-size: 16px;
}
#block-block-1 iframe {
    height: 350px;
    width: 100%;
}