/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 /* estilos para responsive a partir de 799 px  */
/**************************************
GENERAL
***************************************/
body {
    max-width: none !important;
}

/*************************************
ESPECIFICOS
*************************************/
#zone-branding-wrapper {
    background-position: center 115px;
}
#section-header {
    background-position: center -35px;
    height: auto;
}
/*************************************
Tamanios de regiones de paginas
*************************************/
#region-content .region-inner {
    padding: 0 20px;
}
.context-blog #region-sidebar-first, 
.node-type-galeria #region-sidebar-first{
    width: 35%;
}
.context-blog #region-content, 
.node-type-galeria #region-content {
    width: 65%;
}
#region-sidebar-first .region-inner {
    padding: 10px 0 10px 20px;
}
/*************************************
MENU
*************************************/
#block-nice-menus-1 {
    margin: 55px 0 -3px;
}
ul.nice-menu li {
    width: 33.3%;
}
ul.nice-menu li.last {
    width: 100%;
}
/*************************************
FRONT
*************************************/
#block-views-view-block-enlaces-block .views-row .views-field-title a {
    font-size: 22px;
}
#block-views-view-front-videos-block .views-row {
    margin: 15px 1%;
    width: 49%;
}
#block-views-view-front-videos-block .views-row-first {
    margin-left: 0;
}
#block-views-view-front-videos-block .views-row-last {
    margin-right: 0;
}
#block-block-3 {
    margin-bottom: 35px;
    margin-top: 35px;
}
#block-block-3 img {
    height: auto !important;
    width: 400px !important;
}
#block-views-view-front-banner-block, #block-views-view-banner-nosotros-block, #block-views-view-banner-servicios-block, #block-views-view-banner-contacto-block {
    height: 280px;
}
#block-views-view-front-banner-block img, #block-views-view-banner-nosotros-block img, #block-views-view-banner-servicios-block img, #block-views-view-banner-contacto-block img {
    height: 280px !important;
}
#block-views-view-block-enlaces-block .views-row {
    height: auto;
    margin: 16px 1%;
    width: 23%;
}
#block-views-view-block-enlaces-block .views-row .views-field-title-1 {
    left: 50%;
    margin-left: -17px;
}
#block-views-view-block-enlaces-block .views-row .views-field-title a {
    padding: 9px 30px;
}
#block-views-view-block-enlaces-block .views-row .views-field-title-1 {
    left: auto;
    margin: 0;
    right: 5px;
}
#block-views-view-block-enlaces-block {
    margin-left: 2%;
}
/*************************************
FOOTER
*************************************/
#block-views-view-block-terapia-block img {
    float: left;
    height: auto;
    width: 100%;
}
#block-views-view-block-terapia-block .views-field-title a {
    bottom: 81px;
}
#block-views-view-front-videos-block {
    width: 94%;
}
/*************************************
SECCIONES
*************************************/
/*******Nosotros******/
.view-view-page-nosotros-movil .ui-accordion-content .views-field-field-imagen {
    float: right;
    margin-left: 20px;
    width: 50%;
}

/*******Servicios******/
.view-view-block-testimonios .views-row {
    float: left;
    margin: 0 1% 15px;
    min-height: 100px;
    width: 43%;
}
.view-view-page-servicios .views-field-php .views-row .views-more-link, .view-view-block-testimonios .views-more-link {
    width: 91%;
}
/* init servicios grid */
.page-especialidades #block-system-main .view-content .views-row{
    flex-basis: calc(50% - 2rem);
}
/* end servicios grid */
/*******Blog******/
.view-view-page-blog .views-row .views-field-field-imagen {
    margin-left: 25px;
    width: 60%;
}
.field-slideshow-carousel li {
    width: 31% !important;
}
/*******Testimonios******/
.view-view-page-testimonios .views-row, .view-taxonomy-term .views-row {
    height: auto;
    margin: 15px 2%;
    min-height: 250px;
    width: 46%;
}
#block-views-view-menu-testimonios-block .views-row {
    background: none repeat scroll 0 0 transparent;
    float: left;
    width: 25%;
}
#block-views-view-menu-testimonios-block .views-row-last .views-field-name {
    border-right: 2px solid white;
    margin-right: -2px;
}
/*******Galeria******/
.view-view-page-galeria .views-row {
    margin: 15px 5%;
    width: 40%;
}
.node-galeria .item-list ul li {
    margin: 5px 1%;
    width: 31%;
}
.node-testimonios .field-name-field-imagen {
    float: right;
    margin-bottom: 25px;
    margin-left: 25px;
    width: 50%;
}
/*******Contacto******/
.context-contacto #block-system-main {
    margin: 0 3% 0 0;
    width: 50%;
}
#block-block-4 {
    margin: 146px 0 0;
    position: relative;
    width: 47%;
    z-index: 99;
}

/*******Videos******/
.view-view-page-videos .views-row {
    margin: 15px 1%;
    min-height: 225px;
    width: 48%;
}
/*******Bolsa de Trabajo******/
#node-webform-73 {
    width: 75%;
}
.page-node-73 #block-block-6 {
    top: 175px;
}
/*******Pagina******/
.node-pagina .field-name-field-imagen {
    border: medium none;
    margin: 0 20px 20px 0;
    width: 55%;
}
#node-pagina-47 .field-name-body img {
    height: auto !important;
    width: 100% !important;
}
.ui-accordion-content .views-field-field-imagen {
    margin-bottom: 15px;
    margin-right: 15px;
    width: 50%;
}
#block-views-view-block-servicios-block-1 .views-field-field-titulo2 {
    float: none;
    width: auto;
}
#block-views-view-block-servicios-block-1 .views-field-field-edad {
    float: none;
    width: auto;
}
#block-block-6 {
    top: 374px;
}

.view-view-page-talleres .views-row, .view-view-page-terapias .views-row {
    margin: 15px 1%;
    width: 48%;
}
.view-view-page-terapias .views-field-field-imagen, .view-view-page-talleres .views-field-field-imagen {
    width: 95%;
}
.view-view-page-terapias .views-field-body .field-content, .view-view-page-talleres .views-field-body .field-content {
    height: 580px;
}
.view-view-page-talleres .views-row-odd, .view-view-page-terapias .views-row-odd {
    clear: left;
}
#block-views-view-block-servicios-block-1 .block-inner, #block-views-view-block-servicios-block-1 .block-inner .content {
    float: left;
    width: 100%;
}

#block-views-view-front-videos-block .views-row .views-field-field-video {
    display: none;
}
.view-view-page-videos .views-row .views-field-field-video {
    display: none;
}
#section-footer {
    margin-top: -46px;
}
.item-list ul.pager li {
    font-size: 20px;
}
#block-block-1 iframe {
    height: 400px;
    width: 100%;
}
