/* This file will hold styles that are loaded using the same media query as the wide grid. */
/* responsive para pantallas grandes*/
/**************************************
GENERAL
***************************************/
body {
    max-width: none !important;
    overflow-x: hidden\9;
    position: relative\9;
}

/*************************************
ESPECIFICOS
*************************************/
#section-header {
    background-position: center top;
    height: 638px;
}
#zone-branding-wrapper {
    background-position: center 145px;
}
#zone-content-wrapper {
    max-width: 975px;
    width: 100%;
}
#zone-content {
    padding: 0 0% 160px;
    width: 100%;
    *padding: 0 0% 280px;
}
.front #region-content .region-inner {
    padding: 0;
}
#region-content .region-inner {
    padding: 0 20px;
}
/* bloque testimonio */
.not-front #block-system-main,
.context-especialidades .block-view-block-testimonios-block{
    margin: 0 auto;
    max-width: 845px;
    position: relative;
}
.page-testimonios  #block-system-main,
.page-taxonomy-term #block-system-main{
    *width: 845px;
}
.page-nosotros #block-system-main {
    margin: 0 auto;
    max-width: none;
}
.context-blog #region-sidebar-first, .node-type-galeria #region-sidebar-first {
    margin: 0;
    width: 35%;
}
.context-blog #region-content, .node-type-galeria #region-content {
    width: 65%;
}
.region-sidebar-first .block h2.block-title {
    display: block;
    margin: 0;
    padding: 7px 0;
    width: 100%;
}
.region-sidebar-first .block .view {
    display: block;
    margin: 0;
}
/*************************************
Tamanios de regiones de paginas
*************************************/
#region-sidebar-first .region-inner {
    padding: 0 0 10px 50px;
}
.context-blog #region-content .region-inner {
    padding: 0 45px;
}

/*************************************
MENU
*************************************/
#block-nice-menus-1 {
    background: url("../images/bgmenu.png") repeat scroll 0 0 transparent;
    height: 82px;
    margin: 55px auto 1px;
}
#block-nice-menus-1 .block-inner {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    width: auto;
}
#nice-menu-1 {
    border-bottom: medium none;
    float: none;
    margin: 6px auto auto;
    *width: 780px;
}
ul.nice-menu li {
    border: medium none;
    margin: 0;
    padding: 0;
    width: auto;
}
ul.nice-menu li a {
    display: block;
    float: left;
}
ul.nice-menu li.last {
    width: auto;
}
/*************************************
FRONT
*************************************/
.views-slideshow-cycle-main-frame {
    display: inline-block;
}
.views-slideshow-cycle-main-frame {
    position: static !important;
}
#block-views-view-front-banner-block, #block-views-view-banner-nosotros-block, #block-views-view-banner-servicios-block, #block-views-view-banner-contacto-block {
    height: 350px;
    margin: -31px auto 0;
    max-width: 980px;
    position: relative;
}

#block-views-view-front-banner-block img, #block-views-view-banner-nosotros-block img, #block-views-view-banner-servicios-block img, #block-views-view-banner-contacto-block img {
    height: 350px !important;
    width: auto !important;
}
#block-views-view-front-banner-block .views-slideshow-controls-bottom {
    bottom: 100px;
    left: 15px;
    right: auto;
    top: auto;
}
#block-block-3 {
    margin-bottom: 0;
    margin-top: 35px;
}
#block-block-3 img {
    height: auto !important;
    width: auto !important;
}
#block-views-view-block-enlaces-block .views-row .views-field-field-imagen {
    margin: 20px auto 0;
}
#block-views-view-block-enlaces-block .block-inner, #block-views-view-block-enlaces-block .block-inner .content {
    width: 100%;
}
#block-views-view-block-enlaces-block .views-row {
    margin: 16px 2%;
    width: 21%;
    *width: 164px;
}
#block-views-view-block-enlaces-block {
    margin: 0 auto;
    max-width: 786px;
    width: 98%;
}
/*************************************
FOOTER
*************************************/
#block-block-5 {
    left: 0;
    height: 155px;
    top: -153px;
    width: 100%;
}
#block-block-5 img {
    height: auto !important;
    left: 0 !important;
    margin-left: 0;
    position: relative;
    width: auto !important;
}
#block-block-5 .block-inner {
    margin-left: -927px;
    width: 980px;
}
#block-views-view-block-terapia-block {
    margin: 0;
    text-align: center;
    width: 100%;
    *margin: 20px 0;
}
#block-views-view-block-terapia-block img {
    display: inline;
    float: none;
    height: auto;
    max-width: 755px;
    text-align: center;
    width: 100%;
}
#block-views-view-block-terapia-block .views-row {
    max-width: 755px;
    position: relative;
}
#block-views-view-front-videos-block .views-row{
    margin: 15px 1%;
    width: 49%;
    *width: 370px;
}
#block-views-view-front-videos-block h2 {
    width: 100%;
}
#block-views-view-front-videos-block .views-row-first {
    margin-left: 0;
}
#block-views-view-front-videos-block .views-row-last {
    margin-right: 0;
}
/*************************************
SECCIONES
*************************************/

/*******Nosotros******/
.page-nosotros .block-system-main,
.page-servicios .block-system-main{
    display: block;
}
#block-views-970a4211010fcf0e956d71c1f15d089f,
#block-views-view-block-servicios-block-1{
    display: none;
}
.page-nosotros #region-content .region-inner {
    padding: 0;
}
.view-view-page-nosotros .item-list {
    background-image: url("../images/bgmenu.jpg");
    float: left;
    left: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.quicktabs_main.quicktabs-style-arrows .quicktabs-tabpage {
    padding: 0 40px;
}
.view-view-page-nosotros .item-list ul.quicktabs-tabs {
    border: medium none;
    float: left;
    height: 50px;
    margin: 0;
    padding: 0 25px !important;
    width: auto;
}
.view-view-page-nosotros img {
    height: auto;
    width: 100%;
}
.view-view-page-nosotros .views-field-field-imagen {
    width: 55%;
}
/*******Servicios******/
.page-servicios .block-system-main{
    text-align: center;
}
.view-view-page-servicios {
    display: inline;
    text-align: left;
}
.view-view-page-servicios .views-field-php .views-row .views-more-link, .view-view-block-testimonios .views-more-link {
    width: 85%;
    *left: 15px;
}
.view-view-page-servicios .views-field-body {
    *text-align: left;
}
/* servicios grid  pantalla grande desktop*/
.page-especialidades #block-system-main .view-content .views-row{
    flex-basis: calc(100% / 3 - 2rem);
}
/* end servicios grid */
/*******Blog******/
.view-view-page-blog .views-row .views-field-field-imagen {
    width: 50%;
}
.node-blog .field-name-field-imagen {
    margin-left: 25px;
    width: 64%;
}
.view-view-page-blog .views-row .views-field-field-imagen img {
    height: auto;
    width: 100%;
}
.view-view-page-blog .views-row {
    padding-bottom: 35px;
}

/*******Testimonios******/
#block-views-view-menu-testimonios-block .block-inner {
    width: 100%;
}
#block-views-view-menu-testimonios-block .views-row {
    width: 14.2%;
}
#block-views-view-menu-testimonios-block .view-view-menu-testimonios .view-content {
    padding: 0 20px;
}
#block-views-view-menu-testimonios-block .views-row .views-field-name a {
    font-size: 16px;
    line-height: 22px;
    padding: 6px 0;
}
.view-view-page-testimonios .views-row, .view-taxonomy-term .views-row {
    margin: 15px 4%;
    min-height: 235px;
    padding-bottom: 35px;
    width: 25%;
}
.view-view-page-testimonios .views-row .views-field-field-imagen, .view-taxonomy-term .views-row .views-field-field-imagen {
    max-height: 150px;
}
.node-testimonios .field-name-field-imagen {
    float: right;
    margin-bottom: 25px;
    margin-left: 25px;
    width: 40%;
    *width: 400px;
}
.node-testimonios img {
    height: auto;
    width: 100%;
}
.node-type-testimonios #page-title {
    display: block;
    float: left;
    font-size: 27px;
    line-height: 25px;
    margin: 20px 0;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}
/*******Galeria******/
.view-view-page-galeria .views-row {
    margin: 25px 0 25px 13%;
    width: 31%;
}
.node-galeria .item-list ul li {
    margin: 5px 1%;
    width: 23%;
    *width: 22.9%;
}
.node-galeria {
    position: relative;
    width: 100%;
}
/*******Contacto******/
.context-contacto #region-content .region-inner {
    margin: 0 auto;
    max-width: 745px;
    padding: 0 20px;
}
#block-block-7 {
    width: 34%;
}
#block-block-1 iframe {
    height: 400px;
    width: 100%;
    width: 800px\9;
}
.context-contacto #block-system-main {
    width: 50%;
}
#node-webform-73 #edit-submitted-curriculum-pdf-word input#edit-submitted-curriculum-pdf-word-upload-button {
    display: none;
}
/*******Videos******/
.view-view-page-videos .views-row {
    margin: 15px 3%;
    min-height: 225px;
    width: 44%;
}
/*******Bolsa de Trabajo******/
.page-node-73 #block-system-main {
    max-width: 560px;
}
#node-webform-73 {
    width: 80%;
}
.page-node-73 #block-block-6 {
    top: 175px;
    width: 370px;
}
.region-content ul.field-slideshow-pager {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    width: 100% !important;
}
.field-slideshow {
    border-radius: 20px;
    max-width: 100% !important;
    overflow: hidden;
    padding: 0 !important;
    width: 100% !important;
}
.field-slideshow-carousel {
    float: left;
    margin: 5px 0;
    width: 100%;
}
.field-slideshow-carousel-wrapper .item-list {
    float: left;
    margin: 0;
    width: 100%;
}
.item-list ul li {
    margin: 0 0 0.25em 1.5em;
    padding: 0;
}
.field-slideshow-carousel li img {
    height: auto;
    width: 100%;
}
.field-slideshow-carousel li {
    margin: 0 1% 5px !important;
    width: 31% !important;
}
.node-pagina .field-name-field-imagen {
    border: medium none;
    margin: 0 20px 20px 0;
    width: 45%;
}
#node-pagina-47 .field-name-body img {
    height: auto !important;
    width: 100% !important;
}

#block-views-view-front-videos-block{
    float: left;
    margin: 0;
    text-align: center;
    width: 100%;
}
#block-views-view-front-videos-block .block-inner {
    max-width: 755px;
}
.view-view-page-servicios .views-field-field-imagen {
    border-radius: 20px;
    float: left;
    margin-bottom: 15px;
    margin-right: 4%;
    overflow: hidden;
    position: relative;
    width: 50%;
}
.view-view-page-servicios .views-field-title {
    margin-bottom: 20px;
}

.view-view-page-servicios ul.quicktabs-tabs {
    border: medium none;
    float: left;
    margin: 20px 0;
    padding: 0 !important;
    text-align: center;
    width: 100%;
}
.view-view-page-servicios ul.quicktabs-tabs li {
    display: inline-block;
    float: none;
    height: auto;
    margin: 5px 1px;
    padding: 0;
    width: 120px;
}
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a .tipsy {
    background: url("../images/nivel1.png") no-repeat scroll center bottom / 120px auto transparent;
    color: white;
    display: block;
    float: left;
    font-family: berlin sans;
    font-size: 35px;
    height: 130px;
    line-height: 29px;
    margin: 0;
    padding: 20px 0 0;
    position: relative;
    text-align: center;
    width: 120px;
}
.view-view-page-servicios ul.quicktabs-tabs li .tit {
    color: #BEBEC0;
    font-size: 18px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.view-view-page-servicios ul.quicktabs-tabs li:hover .tit1,
.view-view-page-servicios ul.quicktabs-tabs li.active .tit1{
    color: #7BB4F7;
}
.view-view-page-servicios ul.quicktabs-tabs li:hover .tit2,
.view-view-page-servicios ul.quicktabs-tabs li.active .tit2{
    color: #97D89E;
}
.view-view-page-servicios ul.quicktabs-tabs li:hover .tit3,
.view-view-page-servicios ul.quicktabs-tabs li.active .tit3{
    color: #FEA23F;
}
.view-view-page-servicios ul.quicktabs-tabs li:hover .tit4,
.view-view-page-servicios ul.quicktabs-tabs li.active .tit4{
    color: #B45BB7;
}
.view-view-page-servicios ul.quicktabs-tabs li:hover .tit5,
.view-view-page-servicios ul.quicktabs-tabs li.active .tit5{
    color: #E16565;
}
.view-view-page-servicios ul.quicktabs-tabs li:hover .tit6,
.view-view-page-servicios ul.quicktabs-tabs li.active .tit6{
    color: #D651C4;
}
#block-block-1 .block-inner {
    background-color: lightgray;
    border-radius: 5px;
    padding: 1%;
    width: 98%;
}
#block-block-6 {
    top: 625px;
}


.view-view-page-talleres .views-row, .view-view-page-terapias .views-row {
    margin: 15px 2%;
    width: 46%;
}
.view-view-page-terapias .views-field-field-imagen
{
    width: 50%;
}
.view-view-page-talleres .views-field-field-imagen 
{
   width: 70%;
}
.view-view-page-terapias .views-field-body .field-content, .view-view-page-talleres .views-field-body .field-content {
    height: 340px;
}
.view-view-page-terapias .views-field-title span, .view-view-page-talleres .views-field-title span {
    display: block;
    padding-top: 10px;
}
.view-view-page-terapias .views-field-title, .view-view-page-talleres .views-field-title {
    height: 45px;
}
#block-block-8 .talleres li {
    height: 52px;
    margin-bottom: 0;
    width: 17%;
}
#block-views-view-front-videos-block .views-row .views-field-field-video {
    display: block;
}
#block-views-view-front-videos-block .views-row .views-field-field-video-1 {
    display: none;
}
.view-view-page-videos .views-row .views-field-field-video {
    display: block;
}
.view-view-page-videos .views-row .views-field-field-video-1 {
    display: none;
}
#section-footer {
    margin-top: -58px;
}
.item-list ul.pager li {
    font-size: 20px;
}