/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* estilos globales de diseño pero lo que tocamos de responsive es los otros tipos de hojas de estilo*/
/**************************************
GENERAL
***************************************/

#admin-menu {
    position: absolute !important;
}
a:link, a:visited{
    color: #555555;
    text-decoration: none;
}
a:hover{
    color: #4281C8;
}
html{
    background-color: white;
}
body {
    min-width: 1024px !important;
    background-color: white;
    float: left;
    width: 100%;
}
#region-branding,
#region-content,
#region-footer-first,
#region-footer-second,
#zone-footer,
#zone-branding,
#zone-content,
#region-user-second,
#region-user-first,
#zone-user,
#zone-header{
    margin: 0;
    width: 100%;
    position: static;
}
#section-header {
    background: url("../images/bghead.jpg") repeat-x scroll center top white;
    height: 638px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.not-front #section-header {
    height: auto;
}
#zone-branding-wrapper{
    background-image: url("../images/bgheader.png");
    background-position: center 145px;
    background-repeat: repeat-x;
    border-top: 4px solid #9C4788;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#zone-branding{
    background: url("../images/nubes.png") repeat-x scroll left top transparent;
}
#region-branding {
    padding: 0;
}
#zone-menu-wrapper, #zone-header-wrapper,#zone-preface-wrapper, #zone-postscript-wrapper{
    display: none;
}
#region-branding .region-inner {
    margin: 0 auto;
    width: 100%;
    position: relative;
}
body {
}
#page {
    float: left;
    width: 100%;
}
#section-content{
    background-color: #E6E6E8;
    color: #555555;
    font-family: verdana;
    font-size: 13px;
    line-height: 17px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}
#zone-content-wrapper{
    background-image: url("../images/bgcontent.png");
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto -50px;
    padding-top: 73px;
    position: relative;
    text-align: left;
    top: -43px;
    width: 1019px;
}
#zone-content{
    background: url("../images/bgcontent2.png") repeat-y scroll center center transparent;
    padding: 0 0 180px;
    width: 100%;
}
.not-front #page {
    color: #315EA2;
    text-align: justify;
}
h2.block-title, h2.title{
    color: #323232;
    margin: 0;
    display:block;
    float:left;
    z-index:99;
    position:relative;
}
img {
    max-width: none;
}
/*Titulos*/
.titleHeader{
    font-family: berlin sans;
    font-size: 1.5rem;
    color: #E668C6;
}
#page-title{
    color: #2B9FDC;
    display: block;
    font-family: berlin sans;
    font-size: 40px;
    font-weight: bold;
    line-height: 39px;
    margin: 25px 0;
    padding: 12px;
    text-align: center;
    word-wrap: normal;
}
.page-servicios #page-title,
.page-nosotros #page-title,
.page-blog #page-title,
.page-galeria #page-title,
.page-testimonios #page-title,
.page-taxonomy #page-title{
    display: none;
}
#section-footer{
    float: left;
    margin-top: -84px;
    padding: 0;
    position: static;
    width: 100%;
}
#region-sidebar-first,
#region-sidebar-second{
    display: none;
}
.context-blog #region-sidebar-first,
.node-type-galeria #region-sidebar-first{
    display: block;
    float: left;
    margin: 0 3% 0 0;
    width: 25%;
}
.context-blog #region-content,
.node-type-galeria #region-content{
    width: 72%;
}
/************************************
Globales
************************************/
.field-slideshow-slide, .field-slideshow-slide a, .field-slideshow-slide img{
    border-radius: 20px;
    float: left;
    height: auto !important;
    max-width: none;
    width: 100% !important;
}
p, pre {
    margin: 8px 0;
}
/*************************************
ESPECIFICOS
*************************************/
.item-list {
    display: inline-block;
    float: right;
    font-family: berlin sans;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}
.item-list ul.pager {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: inline-block;
    float: none;
    margin-top: 15px;
    width: auto;
}
.item-list ul.pager li{
    background-color: white;
    border: 1px solid lightgray;
    float: left;
    font-family: berlin sans;
    font-size: 20px;
    line-height: 20px;
    margin: 5px;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    width: auto;
}
.item-list ul.pager li a{
    background: none repeat scroll 0 0 #F2F2F2;
    border: medium none;
    color: #353535;
    padding: 4px 7px;
    width: auto;
}
.item-list ul.pager li a:hover {
    background-color: #E3E3E3;
    color: #4C9DFF;
}
.item-list ul.pager li.pager-current{
    background-color: #4C9DFF;
    background-image: none;
    padding: 4px 7px;
}
.region-sidebar-first .block{
    float: left;
    width: 100%;
}
.region-sidebar-first .block h2.block-title {
    background-color: #ECECEC;
    color: #42A5ED;
    display: block;
    font-family: berlin sans;
    font-size: 25px;
    line-height: 26px;
    margin-left: 30px;
    padding: 7px 5%;
    text-align: center;
}
.region-sidebar-first .block .view{
    border-bottom: 10px solid #ECECEC;
    border-left: 3px solid #ECECEC;
    border-right: 3px solid #ECECEC;
    margin-left: 30px;
    padding: 13px 0;
}
.region-sidebar-first .block .content {
    width: 100%;
}
.region-sidebar-first .block .view a{
    color: #484848;
    display: inline-block;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 5px 0;
    padding: 2px 8%;
    text-decoration: none;
    transition: all 300ms ease 0s;
    width: 84%;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
.region-sidebar-first .block .view a:hover, 
.region-sidebar-first .block .view a.active{
    background-color: #E9E9E9;
    color: #42A5ED;
    transform: scale(1.05);
-ms-transform: scale(1.05); /* IE 9 */
-webkit-transform: scale(1.05); /* Safari and Chrome */
}
/*************************************
FRONT
*************************************/
#block-views-view-front-videos-block .views-row-first {
    margin-left: 0;
}
#block-views-view-front-videos-block .views-row-last {
    margin-right: 0;
}
#block-views-view-block-terapia-block {
    float: left;
    margin: 15px;
    overflow: hidden;
    position: relative;
    width: 96%;
}
#block-views-view-block-terapia-block img {
    border-radius: 10px 10px 50px;
    float: left;
    height: auto;
    max-width: 980px;
    width: 100%;
}
#block-views-view-block-terapia-block .views-field-title a {
    background-color: #7395C2;
    bottom: 81px;
    color: white;
    display: block;
    font-family: berlin sans;
    font-size: 30px;
    left: 0;
    line-height: 30px;
    padding: 10px;
    position: absolute;
    text-decoration: none;
}
#block-views-view-block-terapia-block .views-field-view-node a {
    background: url("../images/vermas.png") no-repeat scroll left top transparent;
    bottom: 20px;
    color: white;
    font-family: berlin sans;
    font-size: 25px;
    padding: 18px 10px;
    position: absolute;
    right: 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    width: 50px;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
#block-views-view-block-terapia-block .views-field-view-node a:hover {
    background-position: left -92px;
    transform: scale(1.2) rotate(-5deg);
-ms-transform: scale(1.2) rotate(-5deg); /* IE 9 */
-webkit-transform: scale(1.2) rotate(-5deg); /* Safari and Chrome */
}
#block-views-view-front-videos-block {
    float: left;
    width: 100%;


}
#block-views-view-front-videos-block h2 a{
    color: #5C82D7;
    font-family: berlin sans;
    font-size: 35px;
    line-height: 36px;
}
#block-views-view-front-videos-block .views-row {
    float: left;
    overflow: hidden;
    position: relative;
}
#block-views-view-front-videos-block .views-row .views-field-field-video,
#block-views-view-front-videos-block .views-row .views-field-field-video-1{
    border: 2px solid #8AB4EE;
    border-radius: 5px 5px 30px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 99%;
}
#block-views-view-front-videos-block .views-row img {
    float: left;
}
#block-block-3 {
    margin-top: 35px;
}
/* boton flotante de whatsapp y facebook marketplace */
#block-block-9 {
    position: fixed;
    right: 0;
    z-index: 9999;
    top: 20vh;
}
#block-block-9 .content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#block-block-9 .content div a{
    
    padding: 10px  10px 15px 10px;
    background: white;
    border-radius: 25px 0px 0px 25px;
    box-shadow: -1px 1px black;
    min-width: 55px;
}
#block-block-9 .content div a:last-child{
    background: #5890ff;
}
#block-block-9 .content div img{
    width: 45px !important;
    height: auto !important;
}
/* hover del button */
#block-block-9 .content div a:hover{
    padding-right: 3rem;
    transition: .5s;
}
/* final de button flotante */
#block-views-view-block-enlaces-block{
}
#block-views-view-block-enlaces-block .views-row {
    border-radius: 9px;
    float: left;
    height: 367px;
    margin: 16px;
    overflow: hidden;
    position: relative;
    width: 187px;
}
#block-views-view-block-enlaces-block .views-row .views-field-title{
    left: 50%;
    margin-left: -94px;
    position: absolute;
    top: 0;
    width: 188px;
}
#block-views-view-block-enlaces-block .views-row .views-field-title-1 {
    bottom: 15px;
    height: 70px;
    margin-right: -83px;
    position: absolute;
    left: 44%;
    width: 70px;
}
#block-views-view-block-enlaces-block .views-row .views-field-title-1 a{
    background: url("../images/vermas.png") no-repeat scroll left top transparent;
    color: white;
    display: block;
    font-family: berlin sans;
    font-size: 25px;
    font-weight: bold;
    height: 57px;
    line-height: 19px;
    padding-top: 13px;
    text-align: center;
    transition: all 300ms ease 0s;
    width: 70px;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
#block-views-view-block-enlaces-block .views-row .views-field-title-1 a:hover {
    transform: scale(1.2) rotate(-12deg);
-ms-transform: scale(1.2) rotate(-12deg); /* IE 9 */
-webkit-transform: scale(1.2) rotate(-12deg); /* Safari and Chrome */
}
#block-views-view-block-enlaces-block .views-row-2 .views-field-title-1 a{
    background-position: left -90px;
}
#block-views-view-block-enlaces-block .views-row-3 .views-field-title-1 a{
    background-position: left -176px;
}
#block-views-view-block-enlaces-block .views-row-4 .views-field-title-1 a{
    background-position: left bottom;
}
#block-views-view-block-enlaces-block .views-row-4 .views-field-title-1 a{
}
#block-views-view-block-enlaces-block .views-row .views-field-title a{
    background: url("../images/bgenlaces.png") no-repeat scroll left top transparent;
    color: white;
    display: table-cell;
    font-family: berlin sans;
    font-size: 22px;
    font-weight: bold;
    height: 48px;
    line-height: 20px;
    padding: 9px 28px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 164px;
    *width: 135px;
    *display: block;
}
#block-views-view-block-enlaces-block .views-row-2 .views-field-title a {
    background-position: -207px top;
}
#block-views-view-block-enlaces-block .views-row-3 .views-field-title a {
    background-position: -425px top;
}
#block-views-view-block-enlaces-block .views-row-4 .views-field-title a {
    background-position: right top;
}
#block-views-view-block-enlaces-block .views-row .views-field-field-imagen{
    margin: 15px auto 0;
    max-width: 188px;
    width: 100%;
}
#block-views-view-block-enlaces-block .views-row .views-field-field-imagen img{
}
#block-views-view-front-banner-block,
#block-views-view-banner-nosotros-block,
#block-views-view-banner-servicios-block,
#block-views-view-banner-contacto-block{
    float: none;
    height: 350px;
    margin: -31px auto 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 980px;
    z-index: 0;
}
.views-slideshow-cycle-main-frame, .views-slideshow-cycle-main-frame-row {
    height: auto !important;
    width: 100% !important;
}
#block-views-view-banner-nosotros-block .block-title,
#block-views-view-banner-servicios-block .block-title,
#block-views-view-banner-contacto-block .block-title{
    color: white;
    font-family: berlin sans;
    font-size: 33px;
    line-height: 30px;
    position: absolute;
    right: 19px;
    top: 261px;
    width: 235px;
}
/* esto puede ser como para la mayeli */
#block-views-view-front-banner-block .views-field-title{
    background-image: url("../images/bgtitulo.png");
    background-position: left top;
    background-repeat: repeat-y;
    bottom: 100px;
    color: #092433;
    font-family: verdana;
    font-size: 30px;
    line-height: 30px;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 331px;
}
#block-views-view-front-banner-block .views-slideshow-controls-bottom{
    bottom: 100px;
    left: 15px;
    position: absolute;
    z-index: 999;
}

#block-views-view-front-banner-block .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
    background-image: url("../images/pager.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

#block-views-view-front-banner-block .views-slideshow-controls-bottom .views-slideshow-pager-field-item:hover,
#block-views-view-front-banner-block .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active{
    background-position: center top;
    cursor: pointer;
}
#block-views-view-front-banner-block .views-slideshow-controls-bottom .views-content-counter{
    display: block;
    font-size: 0;
    height: 35px;
    width: 35px;
}
/*************************************
FOOTER
*************************************/
#zone-footer-wrapper{
    background: url("../images/footer2.png") repeat scroll center top transparent;
    color: white;
    float: left;
    margin-top: 0;
    overflow: visible;
    padding: 30px 0 10px;
    position: relative;
    width: 100%;
}
#block-block-5 {
    position: absolute;
    text-align: center;
    top: -153px;
    width: 100%;
}
#block-block-5 img {
    left: 50%;
    margin-left: -954px;
    position: relative;
}
#block-block-2 {
    font-family: berlin sans;
    margin: 0 auto;
    max-width: 880px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 99;
}
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
    background: none repeat scroll 0 0 transparent;
}
#block-block-2 table {
    border: medium none;
    margin: 0;
    width: 100% !important;
}
#block-block-2 .social {
    float: right;
}
#block-block-2 .iasoft {
    float: right;
    font-size: 13px;
    margin-top: -21px;
}
#block-block-2 .iasoft img {
    margin-left: 3px;
    position: relative;
    top: 1px;
}
#block-nice-menus-2 {
    background-color: #0C242F;
    border-bottom: 3px solid #D27B05;
    float: left;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}
#block-nice-menus-2 li {
    background: none repeat scroll 0 0 transparent;
    border-right: 2px solid #544E4B;
    float: left;
    margin: 0;
    padding: 0;
    width: 194px;
}
#block-nice-menus-2 li.last {
    border: medium none;
}
#block-nice-menus-2 ul.nice-menu li a {
    background: url("../images/menu_2.png") no-repeat scroll center top transparent;
    color: white;
    display: block;
    font-size: 23px;
    height: 48px;
    line-height: 24px;
    margin: 0 5px;
    padding: 11px 5px 7px 75px;
    text-decoration: none;
    transition: all 300ms ease 0s;
    vertical-align: middle;
    width: auto;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
#block-nice-menus-2 ul.nice-menu li a:hover, 
#block-nice-menus-2 ul.nice-menu li a.active,
#block-nice-menus-2 ul.nice-menu li.active-trail a{
    color: #FF9400;
}
#block-nice-menus-2 #nice-menu-2{
    border: medium none;
    float: left;
    margin: 0 auto;
    max-width: 980px;
    padding-left: 0;
    width: 100%;
}
#block-nice-menus-2 ul.nice-menu li.first a {
    color: transparent;
    font-size: 0;
    width: 104px;
}
/*************************************
Tamanios de regiones de paginas
*************************************/

/*************************************
NOSOTROS
*************************************/
.view-view-page-nosotros {

}
.view-view-page-nosotros .views-field-field-imagen{
    float: right;
    margin-left: 20px;
}
.view-view-page-nosotros .views-field-title {
    color: #E668C6;
    font-family: berlin sans;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    margin: 15px 0;
    padding: 5px 0;
}
.view-view-page-nosotros .views-row-1 .views-field-field-imagen{
}
.view-view-page-nosotros .item-list {
    background-image: url("../images/bgmenu.jpg");
    left: 50px;
    padding: 0 50px;
    position: relative;
    width: 100%;
}
.quicktabs_main.quicktabs-style-arrows {
    position: relative;
    width: 100%;
}
.view-view-page-nosotros .item-list ul.quicktabs-tabs {
    margin: 0;
}
.view-view-page-nosotros .item-list ul.quicktabs-tabs li {
    display: block;
    float: left;
    margin: 8px 5px;
    padding: 0;
}
.view-view-page-nosotros .item-list ul.quicktabs-tabs li a{
    background: none repeat scroll 0 0 transparent;
    color: white;
    display: block;
    font-family: berlin sans;
    font-size: 20px;
    font-weight: normal;
    padding: 5px 10px;
    transition: all 300ms ease 0s;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
.view-view-page-nosotros .item-list ul.quicktabs-tabs li a:hover, 
.view-view-page-nosotros .item-list ul.quicktabs-tabs li.active a {
    background-color: #DA61C1;
    border-radius: 5px;
}
/************************************
SERVICIOS
************************************/
.view-view-page-servicios .item-list {
    display: inline-block;
    margin-bottom: 20px;
    max-width: 840px;
    width: 100%;
}
.view-view-page-servicios .views-field-title,
.view-view-page-servicios .views-field-field-edad,
.view-view-page-servicios .views-field-field-titulo2{
    color: #05A4FD;
    display: block;
    font-family: berlin sans;
    font-size: 29px;
    line-height: 31px;
    margin-bottom: 10px;
    text-align: center;

}
.view-view-page-servicios .views-field-field-edad{
    color: #555555;
}
.view-view-page-servicios .views-field-field-imagen {
    border-radius: 20px;
    float: right;
    margin-bottom: 15px;
    margin-left: 4%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.view-view-page-servicios .views-field-field-imagen img ,
.view-view-block-testimonios .views-field-field-imagen img{
    height: auto !important;
    width: 100% !important;
}
.view-view-page-servicios .views-field-body{
    /*background-color: #D2ECFF;
    text-align: justify;
    width: 40%;

-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-moz-border-radius-bottomleft: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;*/

}
/*#quicktabs-tabpage-view__view_page_servicios__page-1 .views-field-title,
#quicktabs-tabpage-view__view_page_servicios__page-1 .views-field-field-edad{
    background-color: #B7F6C0;
    color: #56C080;
}

#quicktabs-tabpage-view__view_page_servicios__page-1 .views-field-title,
#quicktabs-tabpage-view__view_page_servicios__page .views-field-title,
#quicktabs-tabpage-view__view_page_servicios__page-2 .views-field-title,
.view-view-page-servicios .views-field-title
{
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;

}

#quicktabs-tabpage-view__view_page_servicios__page-2 .views-field-title,
#quicktabs-tabpage-view__view_page_servicios__page-2 .views-field-field-edad{
    background-color: #FFFFA3;
    color: #FFA02D;
}
#quicktabs-tabpage-view__view_page_servicios__page-3 .views-field-title,
#quicktabs-tabpage-view__view_page_servicios__page-3 .views-field-field-edad{
    background-color: #FFC8FF;
    color: #CA5BBD;
}
#quicktabs-tabpage-view__view_page_servicios__page-4 .views-field-title,
#quicktabs-tabpage-view__view_page_servicios__page-4 .views-field-field-edad{
    background-color: #FFCEBE;
    color: #FF6667;
}
#quicktabs-tabpage-view__view_page_servicios__page-5 .views-field-title,
#quicktabs-tabpage-view__view_page_servicios__page-5 .views-field-field-edad{
    background-color: #FFCDC4;
    color: #F651C7;
}
#quicktabs-tabpage-view__view_page_servicios__page-6 .views-field-title,
#quicktabs-tabpage-view__view_page_servicios__page-6 .views-field-field-edad{
    background-color: #CDCBFF;
    color: #69008C;
}
#quicktabs-tabpage-view__view_page_servicios__page-1 .views-field-body{
    background-color: #B7F6C0;

}
#quicktabs-tabpage-view__view_page_servicios__page-2 .views-field-body{
    background-color: #FFFFA3;

}
#quicktabs-tabpage-view__view_page_servicios__page-3 .views-field-body{
    background-color: #FFC8FF;

}
#quicktabs-tabpage-view__view_page_servicios__page-4 .views-field-body{
    background-color: #FFCEBE;

}
#quicktabs-tabpage-view__view_page_servicios__page-5 .views-field-body{
    background-color: #FFCDC4;

}
#quicktabs-tabpage-view__view_page_servicios__page-6 .views-field-body{
    background-color: #CDCBFF;

}*/
.view-view-page-servicios ul.quicktabs-tabs {
    border: medium none;
    float: left;
    margin: 20px 0;
    padding: 0 !important;
    width: 100%;
}
.view-view-page-servicios ul.quicktabs-tabs li {
    display: block;
    float: left;
    height: auto;
    margin: 5px 0px;
    padding: 0;
    width: 16%;
}
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a {
    background: none repeat scroll 0 0 transparent;
    display: block;
    float: left;
}
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a .tipsy 
{
    background-image: url("../images/nivel1.png");
    background-repeat:no-repeat;
    color: white;
    float: left;
    font-family: berlin sans;
    font-size: 35px;
    height: 130px;
    line-height: 29px;
    position: relative;
    text-align: center;
    width: 130px;
}



.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a#quicktabs-tab-view__view_page_servicios__page-1 .tipsy{
    background-image: url("../images/nivel2.png");
width: 130px;
height:130px;
}
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a#quicktabs-tab-view__view_page_servicios__page-2 .tipsy{
    background-image: url("../images/nivel3.png");
width: 130px;
height:130px;
}
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a#quicktabs-tab-view__view_page_servicios__page-3 .tipsy{
    background-image: url("../images/nivel4.png");
width: 130px;
height:130px;
}
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a#quicktabs-tab-view__view_page_servicios__page-4 .tipsy{
    background-image: url("../images/nivel5.png");
width: 130px;
height:130px;
}
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a#quicktabs-tab-view__view_page_servicios__page-5 .tipsy{
    background-image: url("../images/nivel6.png");
width: 130px;
height:130px;
}
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a#quicktabs-tab-view__view_page_servicios__page-6 .tipsy{
    background: url("../images/s7.png") no-repeat scroll 5px center transparent;
}
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a .tipsy .nivel {
    font-size: 25px;
    padding-top: 11px;
display:none;
}
.tipsy .niv
{
display:none;
}
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li a .tipsy:hover, 
.view-view-page-servicios ul.quicktabs-tabs.quicktabs-style-arrows li.active a .tipsy {
    /*background-position: -89px center !important;*/
}
.view-view-page-servicios .views-field-php {
    float: left;
    width: 100%;
}
#block-system-main .view-view-page-servicios .views-field-php .view-view-block-testimonios .view-content{display: block;}
#block-system-main .view-view-page-servicios .views-field-php .view-view-block-testimonios .views-row {
    border: 2px solid #05A4FD;
    border-radius: 20px;
    color: #05A4FD;
    float: left;
    margin: 7px 1.5%;
    min-height: 140px;
    overflow: hidden;
    padding: 2%;
    position: relative;
    width: 25%;
}
.view-view-block-testimonios .views-row .views-field-field-imagen {
    border-radius: 5px;
    display: block;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    width: 45%;
}
.view-view-page-servicios .views-field-php .views-row .views-field-title, 
.view-view-page-servicios .views-field-php .views-row .views-field-body {

}
.view-view-page-servicios .views-field-php .views-row .views-field-title .field-content, 
.view-view-page-servicios .views-field-php .views-row .views-field-body .field-content{
    padding: 0px;
}
.view-view-page-servicios .views-field-php .views-row .views-field-title a {
    color: #0096EF;
    display: block;
    font-size: 15px;
    line-height: 16px;
    text-align: left;
}
.view-view-page-servicios .views-field-php .views-label-php,
.context-especialidades .block-view-block-testimonios-block .block-inner .block-title {
    color: #05A4FD;
    float: left;
    font-family: berlin sans;
    font-size: 28px;
    line-height: 32px;
    padding: 11px 0;
    width: 100%;
}
.view-view-page-servicios .views-field-php .views-row .views-more-link,
.view-view-block-testimonios .views-more-link{
    background: none repeat scroll 0 0 #77B1F6;
    border: 2px solid #77B1F6;
    border-radius: 5px;
    bottom: 6px;
    color: white !important;
    display: block;
    font-family: berlin sans;
    font-size: 22px;
    line-height: 22px;
    margin-top: 7px;
    padding: 3px 0;
    position: absolute;
    text-align: center;
    transition: all 300ms ease 0s;
    width: 95%;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
.view-view-page-servicios .views-field-php .views-row .views-more-link:hover,
.view-view-block-testimonios .views-more-link:hover{
    background: none repeat scroll 0 0 #05A4FD;
    border-color: #77B1F6;
}
/* init especialidades grid */
.page-especialidades #block-system-main .view-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
    position: relative;
}
.page-especialidades #block-system-main .view-content .views-row  img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}
.page-especialidades #block-system-main .view-content .views-row h2{
    font-family :berlin sans;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.page-especialidades #block-system-main .view-content .views-row a{
    color: #05A4FD;
}
.page-especialidades #block-system-main .view-view-block-testimonios .view-content .views-row a,
.context-especialidades .block-view-block-testimonios-block .field-content a{
    color: #05A4FD;
    font-weight: 900;
}
.page-especialidades #block-system-main .view-content .views-row{
    flex-basis: calc(100% / 3 - 2rem);
    border-radius: 25px;
    box-shadow: 4px 2px 19px 5px rgba(0,0,0,0.16);
    transition: all ease-in-out 300ms;
    text-align:center;
    margin-bottom:2rem;
    border: 2px solid #0096EF;
}
.page-especialidades:not(.page-especialidades-estimulacion-temprana) #block-system-main .view-content .views-row-first{
    box-shadow: 4px 2px 19px 5px rgba(236, 210, 60, 0.466);
    background-color: #f3ca4c;
}
.page-especialidades #block-system-main .view-content .views-row:hover{
    box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.36);
    background: #05A4FD;
}
.page-especialidades #block-system-main .view-view-block-testimonios .view-content .views-row:hover{
    /* box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.36); */
    background-color: inherit;
}

.page-especialidades #block-system-main .view-content .views-row .linkContent{
    padding: 1rem 0;
    font-weight: bold;
}
.page-especialidades #block-system-main .view-content .views-row:hover a{
color: white;
transition: .5s;
}
.page-especialidades #block-system-main .view-view-block-testimonios .view-content .views-row:hover a{
    color: inherit;
    transition: .5s;
}
/* end especialidades grid */
/* init detalle especialidades */
.context-especialidades .clearfix.content{
    display: block;
}
.context-especialidades .clearfix.content .field .field-label{
    color: #0096EF;
    margin: 1rem 0 .5rem;
}
.context-especialidades .field-name-field-imagen img{
    max-width: 40rem;
    width: 100%;
    height: auto;
}
/* bloque detalle4 pero de testimnios */
.context-especialidades .block-view-block-testimonios-block .block-inner .block-title{
}
/* end detalle especialidades */
/************************************
BLOG
************************************/
.view-view-page-blog .views-row {
    border: 1px solid #ECECEC;
    float: left;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 2%;
    position: relative;
    width: 96%;
}
.view-view-page-blog .views-row .views-field-title {
}
.view-view-page-blog .views-row .views-field-title a{
    background-color: #ECECEC;
    color: #42A5ED;
    display: block;
    font-family: berlin sans;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
}
.view-view-page-blog .views-row .views-field-field-imagen {
    float: right;
    margin-bottom: 15px;
    margin-left: 25px;
}
.view-view-page-blog .views-row .views-field-body {
}
.view-view-page-blog .views-row .views-field-view-node,
.view-view-page-testimonios .views-row .views-field-view-node,
.view-taxonomy-term .views-row .views-field-view-node{
    bottom: 0;
    position: absolute;
    right: 0;
}
.view-view-page-blog .views-row .views-field-view-node a,
.view-view-page-testimonios .views-row .views-field-view-node a,
.view-taxonomy-term .views-row .views-field-view-node a{
    background-color: #77B1F6;
    border: 2px solid #77B1F6;
    color: white;
    display: block;
    font-family: berlin sans;
    font-size: 16px;
    padding: 3px 10px;
    text-decoration: none;
    transition: all 300ms ease 0s;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
.view-view-page-blog .views-row .views-field-view-node a:hover,
.view-view-page-testimonios .views-row .views-field-view-node a:hover,
.view-taxonomy-term .views-row .views-field-view-node a:hover{
    background-color: #05A4FD;
    border-color: #77B1F6;
}
.node-blog .field-name-field-imagen {
    float: right;
    margin-bottom: 15px;
    margin-left: 25px;
    width: 400px;
}
.node {
    text-align: justify;
}
/************************************
Paginas
************************************/
.node-pagina .field-name-field-imagen {
    border: 1px solid lightgray;
    border-radius: 5px;
    float: left;
    margin-bottom: 35px;
    margin-right: 35px;
    overflow: hidden;
    position: relative;
}
.field-slideshow-controls .prev, 
.field-slideshow-controls .next {
    display: block;
    font-size: 0;
    height: 54px;
    top: 180px;
    width: 44px;
    z-index: 9;
}
.field-slideshow-controls .prev {
    background-image: url("../images/prev2.png");
    left: -9px;
}
.field-slideshow-controls .next {
    background-image: url("../images/next2.png");
    right: 13px;
}
.field-slideshow-carousel-wrapper .carousel-prev, 
.field-slideshow-carousel-wrapper .carousel-next {
    color: #77A500;
    display: none !important;
    float: left;
    font-size: 30px;
    margin-top: 26px;
    text-decoration: none;
    text-shadow: 0 0 2px white;
}
.field-slideshow-carousel {
    float: left;
    margin: 5px;
    width: 416px;
}
.field-slideshow-carousel li {
    margin: 0 6px !important;
    width: 115px !important;
}
/************************************
Galeria
************************************/
.view-view-page-galeria .views-row {
    float: left;
    margin: 20px 60px;
    position: relative;
    transition: all 300ms ease 0s;
    width: 307px;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
.view-view-page-galeria .views-row:hover {
    transform: scale(1.05);
-ms-transform: scale(1.05); /* IE 9 */
-webkit-transform: scale(1.05); /* Safari and Chrome */
}
.view-view-page-galeria .views-row .views-field-title {
    left: 0;
    position: absolute;
    top: 22px;
    width: 70%;
}
.view-view-page-galeria .views-row .views-field-title a{
    background-color: #42A5ED;
    color: white;
    display: block;
    font-family: berlin sans;
    font-size: 17px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    width: 100%;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
.view-view-page-galeria .views-row .views-field-field-imagen {
}
.view-view-page-galeria .views-row .views-field-field-imagen-1 {
    bottom: 61px;
    float: right;
    position: absolute;
    right: -65px;
    transform: rotate(5deg);
-ms-transform: rotate(5deg); /* IE 9 */
-webkit-transform: rotate(5deg); /* Safari and Chrome */
}
.view-view-page-galeria .views-row .views-field-field-imagen-2 {
    bottom: 9px;
    float: right;
    position: absolute;
    right: -55px;
    transform: rotate(-5deg);
-ms-transform: rotate(-5deg); /* IE 9 */
-webkit-transform: rotate(-5deg); /* Safari and Chrome */
}
.view-view-page-galeria .views-row img {
    border: 3px solid #42A5ED;
    border-radius: 24px;
    margin: 5px;
    transition: all 300ms ease 0s;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
.view-view-page-galeria .views-row:hover .views-field-title a {
    background-color: #9D4883;
}
.view-view-page-galeria .views-row:hover img {
    border-color: #9D4883;
}
.node-galeria .item-list {
    float: left;
    margin: 15px 0;
    width: 100%;
}
.node-galeria .item-list ul {
    float: left;
    margin: 0;
    padding: 0;
}
.node-galeria .item-list ul li {
    float: left;
    list-style: none outside none;
    margin: 5px 10px;
    padding: 0;
}
.node-galeria .item-list ul li.activeSlide img {
    border-color: #42A5ED;
    opacity: 1;
}
.node-galeria .item-list ul li img {
    border: 2px solid lightgray;
    border-radius: 2px;
    height: auto;
    opacity: 0.7;
    width: 98%;
}
/*************************************
Videos
*************************************/
.view-view-page-videos .views-row{
    float: left;
    margin: 15px 22px;
    min-height: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 385px;
}
.view-view-page-videos .views-row .views-field-field-video,
.view-view-page-videos .views-row .views-field-field-video-1{
    border: 2px solid #98BEED;
    border-radius: 5px;
    display: inline-block;
}
.view-view-page-videos .views-row .views-field-field-video img{
    display: inline-block;
    float: left;
}
.view-view-page-videos .views-row .views-field-title {
    color: #799FCE;
    font-family: berlin sans;
    font-size: 15px;
}
.view-view-page-videos .views-row .views-field-body{
    color: gray;
    font-size: 11px;
    font-style: oblique;
    line-height: 13px;
    margin-top: 7px;
}
/**************************************
TESTIMONIOS
****************************************/
.page-testimonios #region-content .region-inner,
.page-taxonomy #region-content .region-inner {
    padding: 0;
    width: 100%;
}
#block-views-view-menu-testimonios-block {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    z-index: 99;
}
#block-views-view-menu-testimonios-block .block-title {
    color: #009DF7;
    float: left;
    font-family: berlin sans;
    font-size: 33px;
    line-height: 36px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}
#block-views-view-menu-testimonios-block .view-view-menu-testimonios {
    background: url("../images/bgtestimonios.jpg") repeat scroll 0 0 transparent;
    float: left;
    width: 100%;
}
#block-views-view-menu-testimonios-block .content {
    width: 100%;
}
#block-views-view-menu-testimonios-block .view-view-menu-testimonios .view-content {
    padding: 0 30px;
}
#block-views-view-menu-testimonios-block .views-row {
    float: left;
    width: 14.2%;
}
#block-views-view-menu-testimonios-block .views-row .views-field-name{
    border-left: 2px solid white;
}
#block-views-view-menu-testimonios-block .views-row-last .views-field-name {
    border-right: 2px solid white;
}
#block-views-view-menu-testimonios-block .views-row .views-field-name a{
    color: white;
    display: block;
    font-family: impact;
    font-size: 17px;
    font-weight: normal;
    line-height: 22px;
    padding: 6px;
    text-align: center;
}
#block-views-view-menu-testimonios-block .views-row .views-field-name a:hover,
#block-views-view-menu-testimonios-block .views-row .views-field-name a.active{
    background-color: #BF61BE;
}
#block-views-view-menu-testimonios-block .item-list ul li {
    color: #42A5ED;
    font-family: berlin sans;
}
.view-view-page-testimonios .views-row,
.view-taxonomy-term .views-row{
    float: left;
    margin: 15px;
    min-height: 225px;
  
    position: relative;
    text-align: center;
    width: 280px;
}
.view-view-page-testimonios .views-row .views-field-field-imagen {
}
.view-view-page-testimonios .views-row .views-field-field-imagen img{
}
.view-view-page-testimonios .views-row .views-field-title {
}
.view-view-page-testimonios .views-row .views-field-title a,
.view-taxonomy-term .views-row .views-field-title a{
    color: #42A5ED;
    display: block;
    font-family: berlin sans;
    font-size: 20px;
    line-height: 20px;
    margin: 5px 0;
    text-decoration: none;
}
.view-view-page-testimonios .views-row .views-field-body,
.view-taxonomy-term .views-row .views-field-body{
    color: gray;
    font-size: 11px;
    line-height: 13px;
    text-align: justify;
}
.view-view-page-testimonios .views-row .views-field-view-node a,
.view-taxonomy-term .views-row .views-field-view-node a{
}
.node-testimonios .field-name-field-imagen {
    margin-bottom: 15px;
    text-align: center;
}
.page-taxonomy #block-system-main .block-inner, .page-taxonomy #block-system-main .block-inner .content {
    display: block;
    width: 100%;
}
.view-view-page-testimonios .views-row .views-field-field-imagen, .view-taxonomy-term .views-row .views-field-field-imagen {
    border-radius: 13px;
    max-height: 135px;
    overflow: hidden;
    position: relative;
}
/*************************************
MENU
*************************************/
#block-nice-menus-1 {
    background: url("../images/bgmenu.png") repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: none;
    height: 82px;
    margin: 63px auto 1px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 99;
}
#nice-menu-1{
    display: inline-block;
    float: none;
    margin: 6px auto auto;
    width: auto;
}

ul.nice-menu-right, ul.nice-menu-left, ul.nice-menu-right li, ul.nice-menu-left li {
    width: auto;
}
ul.nice-menu li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0px;
    width: auto;
}
ul.nice-menu li.last {
    background: none repeat scroll 0 0 transparent;
    padding-right: 0;
}
ul.nice-menu li a {
    background-image: url("../images/bgmenu2.png");
    background-position: 0 50px;
    background-repeat: no-repeat;
    color: white;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 4px 13px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
}
ul.nice-menu li:hover a, 
ul.nice-menu li a.active,
ul.nice-menu li.active-trail a{
    background-position: left top;
    color: white;
}
ul.nice-menu li.menu-339:hover a, 
ul.nice-menu li.menu-339 a.active, 
ul.nice-menu li.menu-339.active-trail a{
    background-position: -84px top;
}
ul.nice-menu li.menu-340:hover a, 
ul.nice-menu li.menu-340 a.active, 
ul.nice-menu li.menu-340.active-trail a{
    background-position: -203px top;
}
ul.nice-menu li.menu-341:hover a, 
ul.nice-menu li.menu-341 a.active, 
ul.nice-menu li.menu-341.active-trail a{
    background-position: -317px top;
}
ul.nice-menu li.menu-342:hover a, 
ul.nice-menu li.menu-342 a.active, 
ul.nice-menu li.menu-342.active-trail a{
    background-position: -397px top;
}
ul.nice-menu li.menu-387:hover a, 
ul.nice-menu li.menu-387 a.active, 
ul.nice-menu li.menu-387.active-trail a{
    background-position: -500px top;
}
ul.nice-menu li.menu-343:hover a, 
ul.nice-menu li.menu-343 a.active, 
ul.nice-menu li.menu-343.active-trail a{
    background-position: -652px top;
}
ul.nice-menu-down li.menuparent {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
    width: 135px;
}
ul.nice-menu li.menuparent ul {
    background-color: white;
    border: medium none;
    top: 49px;
    width: 185px;
}
ul.nice-menu li.menuparent ul li {
    float: left;
    margin: 2px 0;
    width: 100%;
}
ul.nice-menu li.menuparent ul li a {
    background-image: url("../images/list.png");
    background-position: 10px 13px;
    background-repeat: no-repeat;
    color: #464646;
    display: block;
    font-size: 16px;
    height: auto;
    padding: 5px 10px 5px 25px;
    text-align: left;
    width: auto;
}
ul.nice-menu li.menuparent ul li a:hover, ul.nice-menu li.menuparent ul li a.active {
    background-color: #D0D0D0;
    border-bottom: 1px solid #94C21C;
    color: black;
}
ul.nice-menu-down li.menuparent:hover {
    background-color: transparent;
    background-image: none;
}
/************************************
Contacto
************************************/

.context-contacto #block-system-main {
    float: left;
    margin-left: 75px;
}
#block-block-7 {
     background-color: #FFC0CB;
    border: 4px solid #A9D1F7;
    color: black;
    display: inline-block;
    float: right;
    font-family: berlin sans;
    font-size: 18px;
    margin: 8px 0 45px 35px;
    padding: 16px;
    text-align: center;
    transform: rotate(-5deg);
    width: 295px;
-ms-transform: rotate(-5deg); /* IE 9 */
-webkit-transform: rotate(-5deg); /* Safari and Chrome */
}
#block-block-7 .content a {
    color: #CE0026;
    display: inline;
    margin: 0 14px;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
#block-block-7 .content a:hover {
    color: #2A8BFF;
    font-size: 22px;
    transform: scale(1.3);
-ms-transform: scale(1.3); /* IE 9 */
-webkit-transform: scale(1.3); /* Safari and Chrome */
}
#block-block-1 {
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 9;
}
#block-block-6 {
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 500px;
    width: 275px;
    z-index: 0;
}
#block-block-4 {
    color: #555555;
    float: left;
    font-family: verdana;
    line-height: 27px;
    margin: 170px 0 0;
    width: 362px;
    z-index: 9;
}
#block-block-4 a {
    color: #555555;
}
#block-block-4 a:hover {
    color: #315EA2;
    text-decoration: underline;
}
.node-webform {
    color: #555555;
    float: left;
    margin: 0 50px 0 0;
    width: 345px;
}
.webform-client-form .form-text,
.webform-client-form textarea{
    background-color: #F3F3F3;
    background-image: none;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: none;
    color: #315EA2;
    font-family: verdana;
    font-size: 15px;
    line-height: 16px;
    padding: 4px 5px;
    width: 97%;
}
.webform-client-form .form-item label {
    color: #555555;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}
.webform-client-form .grippie {
    display: none;
}
.webform-client-form .form-item,
.webform-client-form select{
    font-family: arial;
    margin: 9px 0;
    width: 100%;
}
.webform-client-form .form-item .form-textarea-wrapper textarea {
    border: 1px solid lightgray;
}
.webform-client-form select{
    color: gray;
    height: 30px;
    margin: 0;
    padding: 5px;
}
#contact-site-form{
    float: right;
    margin: 12px 40px 40px 35px;
    width: 420px;
}
.webform-client-form .form-submit,
.page-node-done #content .links a{
    background-color: #42A5ED;
    background-image: none;
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
-webkit-transition: all 300ms ease 0s; /* Safari */
}
.webform-client-form .form-required {
    display: none;
}
.webform-client-form .form-submit:hover,
.page-node-done #content .links a:hover{
    background-color: #9D4883;
    color: #F0D854;
    transform: scale(1.05);
-ms-transform: scale(1.05); /* IE 9 */
-webkit-transform: scale(1.05); /* Safari and Chrome */
}
.page-node-done #content {
    background-color: #CACCCB;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 25px;
    padding: 22px 22px 50px;
}
.page-node-done #content .links a {
    text-decoration: none;
}
.page-node-done #content .links {
    display: block;
    float: right;
}

/************************************
Utilitarios(resets clearfix hacks)
************************************/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}


/*********************************************************************************/
.ajax-progress .throbber {
    background: url("images/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    height: 31px;
    margin: -6px 2px 2px -6px;
    position: absolute;
    width: 31px;
}
.ajax-progress {
    float: left;
}
.ajax-progress .message {
    padding-left: 20px;
    display: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {


}

.view-view-block-testimonios .views-row
{
border:0px;
}

.view-dom-id-46ef0fbcd2e99c55f92e0151820186f1 .views-field-field-imagen
{

}

#node-webform-73
{
margin-left:50px;
}
.node-type-galeria .block-system-main .block-inner .content, .node-type-galeria .block-system-main .block-inner {
    width: 100%;
}
/* iPhone / mobile webkit */
@media screen and (max-device-width: 480px) {
body {
    -webkit-text-size-adjust: none;
}
}
.view-view-page-terapias .views-field-title, .view-view-page-talleres .views-field-title {
    background: url("8.png") no-repeat scroll center bottom transparent;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
    float: left;
    font-family: calibri;
    font-size: 21px;
    height: 50px;
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 9;
}
.view-view-page-terapias .views-field-field-imagen img, .view-view-page-talleres .views-field-field-imagen img {
    height: auto;
    width: 100%;
}
.view-view-page-terapias .views-field-body, .view-view-page-talleres .views-field-body {
    margin: 0;
    padding: 0;
    text-align: justify;
    width: 100%;
}
.view-view-page-terapias .views-field-body .field-content, .view-view-page-talleres .views-field-body .field-content {
    background-color: #F5FAFF;
    border: 1px solid lightgray;
    border-radius: 6px;
    height: 340px;
    padding: 15px;
    position: relative;
    z-index: 1;
}
.view-view-page-terapias .views-field-title span, .view-view-page-talleres .views-field-title span {
    display: block;
    padding-top: 10px;
}

.view-view-page-terapias .views-field-field-imagen,
.view-view-page-talleres .views-field-field-imagen
{
    float: left;
    padding: 10px 10px 10px 2%;
    position: relative;
    width: 50%;
    z-index: 9;
}



.view-view-page-terapias td,
.view-view-page-talleres td,
.view-view-page-terapias tr:hover td,
.view-view-page-terapias  tr.even:hover td.active,
.view-view-page-terapias  tr.odd:hover td.active,
.view-view-page-talleres tr:hover td,
.view-view-page-talleres  tr.even:hover td.active,
.view-view-page-talleres  tr.odd:hover td.active
{
 background-image: url("16.png");
background-repeat:no-repeat;
width:400px;
height:400px;
float:left;
}

.view-view-page-talleres .view-header p
{
padding:20px;
}

#main_map
{
height:450px;
}
#block-block-8 {
    margin: 0 auto;
    max-width: 845px;
    text-align: justify;
    width: 100%;
}

.view-view-page-talleres .view-header {
    display: none;
}

.view-view-page-talleres .views-row,
.view-view-page-terapias .views-row{
    float: left;
    margin: 15px 2%;
    overflow: hidden;
    position: relative;
    width: 46%;
}

#block-block-8 .talleres {
    border-top: 2px solid lightgray;
    font-size: 14px;
    line-height: 19px;
    padding: 10px 0px;
}
#block-block-8 .talleres li {
    background-color: #F5F5F5;
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 0 1px #0A7EBB;
    color: #669FE2;
    display: block;
    float: left;
    font-size: 13px;
    height: 52px;
    line-height: 16px;
    list-style: none outside none;
    margin: 10px 0.5%;
    padding: 5px 1%;
    text-align: center;
    vertical-align: middle;
    width: 17%;
}
